# Django
SECRET_KEY=your-secret-key-here
DEBUG=True

# База данных PostgreSQL
DB_NAME=habits_tracker
DB_USER=postgres
DB_PASSWORD=your-db-password
DB_HOST=localhost
DB_PORT=5432

# Celery и Redis
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# Telegram-бот для напоминаний
TELEGRAM_BOT_TOKEN=your-telegram-bot-token